* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(49, 49, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

#mainContainer {
    width: 80%;
    height: 80%;
    background-color:rgb(106, 106, 165);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#chooseSex {
    width: 20px;
    height: 10px;
}

#headerContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

/* .containerStartText {
    display: flex;
    justify-content: center;
} */

.containerQuery {
    /* display: flex;
    justify-content: center; */
    padding-bottom: 3em;
}

.listStyle {
    display: flex;
    justify-content: center;
}

.img {
    object-fit: contain;
    padding-top: 1em;
}